src-gen
xtend-gen
bin
!/**/.gitkeep

*.log
/**/*.log

teachingassistant.uni.metamodel/instances/*.xmi
teachingassistant.uni.metamodel/instances/*.json
!/teachingassistant.uni.metamodel/instances/uni_ta_allocation_total-replan.xmi

**/problem.lp
